{% extends "./partial/base.html" %} 

{% load static %}
{% block title %}Home{% endblock title %} 

{% block content %}

<!-- banner part start-->
<section>
    <div id="carouselContainer" class="container-fluid p-0">
        <div id="carouselExampleControls" class="carousel slide p-3" data-ride="carousel">
            <div class="carousel-inner" style="border-radius: 10px;">
                {% for slider in sliders %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{slider.image.url}}" alt="{{slider.title}}">
                    <div class="carousel-overlay"></div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!-- banner part end-->



    <!-- about part start-->
    <section class="about_part mt-md-5 mt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>{{about.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-7">
                    <div class="about_part_img">
                        <img src="{{about.image1.url}}" alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-7">
                    <div class="about_part_img">
                        <img src="{{about.image2.url}}" alt="#">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="about_text text-center mb-5">
                        <p style="text-align: justify;">{{about.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <section class="single_service" style="background-color: #f3f1ef !important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section_tittle">
                        <h2>Area Of Practice</h2>
                        <p style="text-align: justify;"><span style="font-weight: bold;">Area of Practice at a glance: </span>{{site_settings.practice_areas}}</p>
                            <a href="{% url 'core:service' %}" class="btn btn-sm btn-dark mt-2">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- team_part part start-->
    <section class="team_part our_offer section_bg section_padding" style="background-color: white !important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Meet Our Team Members</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                {% for team in teams %}
                <div class="col-lg-4 col-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img class="img-fluid shadow" src="{{ team.image.url }}" alt="offer_img_1">
                        </div>
                        <div class="team_member_info">
                            <h4>{{ team.name }}</h4>
                            <h6>{{ team.title }}</h6>
                            <button class="btn btn-dark mb-4 btn-sm" type="button" data-toggle="collapse" data-target="#collapseTeamDescription{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseTeamDescription{{ forloop.counter }}">
                                Show More
                            </button>
                            <div class="collapse mb-3" id="collapseTeamDescription{{ forloop.counter }}">
                                <p style="text-align: justify;">{{ team.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="team_part our_offer section_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                {% for service in services %}
                <div class="col-lg-3 col-6">
                    <div class="single_offer_part">
                        <div class="our_service">
                            <img class="img-fluid shadow" src="{{ service.image.url }}" alt="offer_img_1">
                        </div>
                        <div class="team_member_info">
                            <h4>{{ service.title }}</h4>
                            <button class="btn btn-dark mb-4 btn-sm" type="button" data-toggle="collapse" data-target="#collapseServiceDescription{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseServiceDescription{{ forloop.counter }}">
                                Show More
                            </button>
                            <div class="collapse mb-3" id="collapseServiceDescription{{ forloop.counter }}">
                                <p style="text-align: justify;">{{ service.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    <!-- our service part end-->

    <!-- Service part start-->
    <section class=" section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="mb-5 text-center">
                        <h2>Our Clients</h2>
                        <p>
                            We have provided legal services to and conducted cases for many companies,  firms and persons. Some of them are -
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                {% for client in clients %}
                {% if forloop.counter <= 6 %}
                <div class="col-4 col-lg-2 col-sm-3 mt-2">
                    <div class="single_service_part">
                        <div class="single_service_text p-2" style="border: 5px solid #bb9761; border-radius: 4px;">
                            <img style="height: 120px; border-radius: 5px;" src="{{client.image.url}}" alt="">
                            <h6 class="mt-3">{{client.name}}</h6>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" id="collapseClients">
                <div class="row align-items-center">
                    {% for client in clients %}
                    {% if forloop.counter > 6 %}
                    <div class="col-4 col-lg-2 col-sm-3 mt-2">
                        <div class="single_service_part">
                            <div class="single_service_text p-2">
                                <img style="height: 130px; border-radius: 5px;" src="{{client.image.url}}" alt="">
                                <h6 class="mt-3">{{client.name}}</h6>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-center">
                    <button class="btn btn-dark btn-sm mt-3" type="button" data-toggle="collapse" data-target="#collapseClients" aria-expanded="false" aria-controls="collapseClients">
                        Show More
                    </button>                    
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Service part end-->

    <!-- team_part part start-->
    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Latest From Blog</h2>
                        <p>Over their the abundantly every midst place thing them them winged you're beginning
                            forth you fruit seas very does can after herb moved so was kind </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="{{blog.image.url}}" alt="">
                            <div class="mt-2">
                                <div class="single-home-blog">
                                    <a href="#"> <i class="ti-bookmark"></i> {{blog.category}}</a>
                                    <a class="time"> <i class="ti-time"></i> {{blog.publication_date}}</a>
                                    <a href="{% url 'core:single_blog' blog.id %}">
                                        <h5 class="card-title">{{blog.title}}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- team_part part end-->
{% endblock content %}