{% extends "./partial/base.html" %} 

{% load static %}
{% block title %}About us{% endblock title %} 

{% block content %}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>{{practice_area.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!-- about part start-->
<section class="about_part section_padding">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-12">
                <div class="about_part_img">
                    <img style="height: 120px;" src="{{practice_area.image.url}}" alt="#">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="about_text text-center">
                    <p>{{practice_area.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->
{% endblock content %}