{% extends "./partial/base.html" %} 

{% load static %}
{% block title %}Practice Areas{% endblock title %} 

{% block content %}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>area of practice</h2>
                        <p>home <span>//</span>area of practice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<section class="single_service section_padding" style="background-color: #ffffff !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section_tittle">
                    <p style="text-align: justify;"><span style="font-weight: bold;">Area of Practice at a glance: </span>All sorts of litigation, Alternative Dispute Resolution (ADR),
                        Arbitration, Admiralty and Maritime Dispute Resolution, Banking and Finance, Corporate
                        Documentation, Merger and Acquisition, Employment and Labour law, Intellectual property,
                        Investment and Direct Foreign Investment, Public Procurement law, Real estate, Security and
                        Exchange laws, Taxation, VAT and Customs, etc.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            {% for service in services %}
            <div class="col-lg-6 col-sm-12">
                <div class="">
                    <h4>
                        {{forloop.counter}}.<a href="{% url 'core:practice_details' service.id %}"> {{service.title}}</a>
                    </h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}