{% extends "./partial/base.html" %} 

{% load static %}
{% block title %}Our Attorneys{% endblock title %} 

{% block content %}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Our Team</h2>
                        <p>home <span>//</span>Our Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

 <!-- team_part part start-->
 <section class="team_part our_offer section_bg section_padding" style="background-color: white !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-10">
                <div class="section_tittle">
                    <h2>Meet Our Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            {% for team in teams %}
            <div class="col-lg-4 col-6">
                <div class="single_offer_part">
                    <div class="single_offer">
                        <img class="img-fluid" src="{{team.image.url}}" alt="offer_img_1">
                    </div>
                    <div class="team_member_info">
                        <h4>{{team.name}}</h4>
                        <h6>{{team.title}}</h6>
                        <button class="btn btn-dark mb-4 btn-sm" type="button" data-toggle="collapse" data-target="#collapseDescription{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseDescription{{ forloop.counter }}">
                            <Details></Details>
                        </button>
                        <div class="collapse mb-2" id="collapseDescription{{ forloop.counter }}">
                            <p style="text-align: justify;">{{team.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- team_part part end-->
{% endblock content %}